@import "./styles";

.services-section {
  margin-block: $m-50;

  .intro {
    margin-bottom: $m-50;
  }

  h2 {
    color: $color-primary;
    text-transform: uppercase;
    text-align: center;
    margin: $m-15 $m-0;
  }

  .services-container {
    text-align: center;
    padding: $p-0 $p-20;

    h3 {
      color: $color-secondary;
      text-transform: capitalize;
      text-align: center;
      margin: $m-15 $m-0;
    }
  }
}
