$color-primary: #2dace1;
$color-secondary: #3156a6;
$color-black: #000000;
$color-white: #ffffff;
$color-danger: #d32f2f;
$color-light-gray: #d4d4d4;
$color-lighterGrey: #f6f6f6;
$color-teritary: #e7e7e7;

$bg-white: #ffffff;
$bg-black: #000000;
$bg-primary: #2dace1;
$bg-secondary: #3156a6;
$bg-danger: #d32f2f;
$bg-lighterGrey: #f6f6f6;
$bg-light-gray: #d4d4d4;
$bg-teritary: #e7e7e7;

$border-primary: #2dace1;
$border-secondary: #3156a6;
$border-white: #ffffff;
$border-black: #000000;
$border-lighterGrey: #f6f6f6;
$border-light-gray: #d4d4d4;
$border-teritary: #e7e7e7;
